In [ ]:
!pip install yfinance
import pandas as pd 
import yfinance as yf # import libraries
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('seaborn')

Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/a7/ee/315752b9ef281ba83c62aa7ec2e2074f85223da6e7e74efb4d3e11c0f510/yfinance-0.1.59.tar.gz
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading https://files.pythonhosted.org/packages/30/c0/d0526314971fc661b083ab135747dc68446a3022686da8c16d25fcf6ef07/lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3MB)
     |████████████████████████████████| 6.3MB 4.4MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.59-py2.py3-none-any.whl size=23442 sha256=d2719da3972ceaf60b3e580a52aae602dfaa5077cdcd0150644bfc6f0c38d5e6
  Stored in directory: /root/.cache/pip/wheels/f8/2a/0f/4b5a86e1d52e451757eb6bc17fd899629f0925c777741b6d04
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.59

In [ ]:
import tqdm.notebook as tq
import warnings
warnings.filterwarnings('ignore')

In [ ]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [ ]:
%cd '/content/gdrive/MyDrive/SASH/'
nse=pd.read_csv('ALL_FNO.csv')

/content/gdrive/MyDrive/SASH

# SKIP

In [ ]:
banklist=list(nse[nse['Symbol'].str.contains('BANK','BK')]['Symbol'])

In [ ]:
pendinglist=['SBIN.NS','INDUSINDBK.NS','BANDHANBNK.NS','PNB.NS','IDFCFIRSTB.NS','FEDERALBNK.NS','RBLBANK.NS']

In [ ]:
for i in pendinglist:
  banklist.append(i)

In [ ]:
nifty = yf.download('^NSEBANK', 
                start='2016-01-01', 
                end='2022-01-01',
                progress=False)

In [ ]:
stock = yf.download('BANDHANBNK.NS', 
                start='2016-01-01', 
                end='2022-01-01',
                progress=False)

In [ ]:
nifty=nifty.rename(columns={'Open':'Nifty Open','High':'Nifty High','Low':'Nifty Low','Close':'Nifty Close',})

In [ ]:
nifty.drop(['Adj Close','Volume'],axis=1,inplace=True)
stock.drop(['Adj Close','Volume'],axis=1,inplace=True)

In [ ]:
nifty.reset_index(inplace=True)
stock.reset_index(inplace=True)

In [ ]:
data=pd.merge(nifty,stock,on='Date')

In [ ]:
data['Pre Nifty Close']=data['Nifty Close'].shift(1)

In [ ]:
data['Pre Close']=data['Close'].shift(1)

In [ ]:
data['Nifty Gap']=['Up' if data['Nifty Open'][i] > data['Pre Nifty Close'][i] else 'Down' if data['Nifty Open'][i] < data['Pre Nifty Close'][i] else 'Flat' for i in range(0,len(data))]

In [ ]:
data['Gap']=['Up' if data['Open'][i] > data['Pre Close'][i] else 'Down' if data['Open'][i] < data['Pre Close'][i] else 'Flat' for i in range(0,len(data))]

In [ ]:
df=data[data['Nifty Gap'] == 'Up']
df=df[df['Gap'] == 'Down']
df['P/L'] = (round(100000/df['Open'])) * (df['Open']-df['Close'])
print('Trades:',len(df))
print('Money:',sum(df['P/L']))

Trades: 61
Money: 29249.228393554688

In [ ]:
# df1=data[data['Nifty Gap'] == 'Down']
# df1=df1[df1['Gap'] == 'Up']
# df1['P/L'] = (round(100000/df1['Open'])) * (df1['Close']-df1['Open'])
# print('Trades:',len(df1))
# print('Money:',sum(df1['P/L']))

In [ ]:
banklist

['BANKBARODA.NS',
 'ICICIBANK.NS',
 'KOTAKBANK.NS',
 'AXISBANK.NS',
 'HDFCBANK.NS',
 'RBLBANK.NS',
 'SBIN.NS',
 'INDUSINDBK.NS',
 'BANDHANBNK.NS',
 'PNB.NS',
 'IDFCFIRSTB.NS',
 'FEDERALBNK.NS',
 'RBLBANK.NS']

In [ ]:
for i in range(2010,2022):
  nifty = yf.download('^NSEBANK', 
                  start= str(i) + '-01-01', 
                  end= str(i+1) + '-01-01',
                  progress=False)
  stock = yf.download('BANDHANBNK.NS', 
                  start=str(i) + '-01-01', 
                  end= str(i+1) + '-01-01',
                  progress=False)
  nifty=nifty.rename(columns={'Open':'Nifty Open','High':'Nifty High','Low':'Nifty Low','Close':'Nifty Close',})
  nifty.drop(['Adj Close','Volume'],axis=1,inplace=True)
  stock.drop(['Adj Close','Volume'],axis=1,inplace=True)
  nifty.reset_index(inplace=True)
  stock.reset_index(inplace=True)
  data=pd.merge(nifty,stock,on='Date')
  data['Pre Nifty Close']=data['Nifty Close'].shift(1)
  data['Pre Close']=data['Close'].shift(1)
  data['Nifty Gap']=['Up' if data['Nifty Open'][i] > data['Pre Nifty Close'][i] else 'Down' if data['Nifty Open'][i] < data['Pre Nifty Close'][i] else 'Flat' for i in range(0,len(data))]
  data['Gap']=['Up' if data['Open'][i] > data['Pre Close'][i] else 'Down' if data['Open'][i] < data['Pre Close'][i] else 'Flat' for i in range(0,len(data))]
  df=data[data['Nifty Gap'] == 'Up']
  df=df[df['Gap'] == 'Down']
  df['P/L'] = (round(100000/df['Open'])) * (df['Open']-df['Close']) # SHORT
  # df['P/L'] = (round(100000/df['Open'])) * (df['Close']-df['Open']) #LONG
  print('Year',i,' to ',i+1)
  print('Trades:',len(df))
  print('Money:',round(sum(df['P/L'])) - len(df)*85)
  print('Nifty:',round(sum(df['Nifty Open'] - df['Nifty Close']))*25)

1 Failed download:
- BANDHANBNK.NS: Data doesn't exist for startDate = 1262304000, endDate = 1293840000
Year 2010  to  2011
Trades: 0
Money: 0
Nifty: 0

1 Failed download:
- BANDHANBNK.NS: Data doesn't exist for startDate = 1293840000, endDate = 1325376000
Year 2011  to  2012
Trades: 0
Money: 0
Nifty: 0

1 Failed download:
- BANDHANBNK.NS: Data doesn't exist for startDate = 1325376000, endDate = 1356998400
Year 2012  to  2013
Trades: 0
Money: 0
Nifty: 0

1 Failed download:
- BANDHANBNK.NS: Data doesn't exist for startDate = 1356998400, endDate = 1388534400
Year 2013  to  2014
Trades: 0
Money: 0
Nifty: 0

1 Failed download:
- BANDHANBNK.NS: Data doesn't exist for startDate = 1388534400, endDate = 1420070400
Year 2014  to  2015
Trades: 0
Money: 0
Nifty: 0

1 Failed download:
- BANDHANBNK.NS: Data doesn't exist for startDate = 1420070400, endDate = 1451606400
Year 2015  to  2016
Trades: 0
Money: 0
Nifty: 0

1 Failed download:
- BANDHANBNK.NS: Data doesn't exist for startDate = 1451606400, endDate = 1483228800
Year 2016  to  2017
Trades: 0
Money: 0
Nifty: 0

1 Failed download:
- BANDHANBNK.NS: Data doesn't exist for startDate = 1483228800, endDate = 1514764800
Year 2017  to  2018
Trades: 0
Money: 0
Nifty: 0
Year 2018  to  2019
Trades: 15
Money: 2359
Nifty: 15400
Year 2019  to  2020
Trades: 27
Money: 9850
Nifty: 35625
Year 2020  to  2021
Trades: 12
Money: 8518
Nifty: 18375
Year 2021  to  2022
Trades: 7
Money: 3337
Nifty: 59025

In [ ]:
df

         Date    Nifty Open    Nifty High  ...  Nifty Gap   Gap          P/L
10 2021-01-18  32275.150391  32441.500000  ...         Up  Down  3155.201660
30 2021-02-16  37492.601562  37708.750000  ...         Up  Down -3303.994598
34 2021-02-22  35874.300781  36128.898438  ...         Up  Down  2940.298187
48 2021-03-15  35544.250000  35544.250000  ...         Up  Down  2740.855255
50 2021-03-17  34905.050781  35100.500000  ...         Up  Down   914.501801
68 2021-04-15  31929.099609  32187.050781  ...         Up  Down  1328.798157
84 2021-05-10  33175.300781  33297.601562  ...         Up  Down -3843.454285

[7 rows x 14 columns]

# CONTINUE

In [ ]:
dates=['01','02','03','04','05','06','07','08','09','10','11','12']

In [ ]:
for i in range(0,len(dates)+1):
  nifty = yf.download('^NSEBANK', 
                  start='2021-' + dates[i] + '-01', 
                  end='202-' + dates[i+1] + '-01',
                  progress=False,
                  interval='1h')
  nifty.reset_index(inplace=True)
  nifty['index']=nifty['index'].astype('str')
  df=nifty[nifty['index'].str.contains("15:15")] #.reset_index(inplace=True,drop=True)
  df.reset_index(inplace=True,drop=True)
  df.drop(['Adj Close','Volume'],axis=1,inplace=True)
  df['Points']=df['Close'].diff()
  df.dropna(inplace=True)
  df.reset_index(inplace=True,drop=True)
  df['Post Close']=df['Close'].shift(-1)
  df['Gain']=[df['Close'][i] - df['Post Close'][i] if df['Points'][i] > 1 and df['Points'][i] < 300 else 0 for i in range(0,len(df))]
  df.dropna(inplace=True)
  df=df[df['Gain'] != 0]
  print(dates[i])
  print('Trades:',len(df['Gain']))
  print('Money:',(sum(df['Gain'])*3) -85*len(df) )

01
Trades: 6
Money: 2671.353515625
02
Trades: 5
Money: 1316.048828125
03
Trades: 4
Money: 12116.451171875
04
Trades: 1
Money: -1572.25
05
Trades: 1
Money: -3701.34765625
06
Trades: 4
Money: 3793.853515625
07
Trades: 6
Money: -2535.75
08
Trades: 8
Money: -6841.84765625
09
Trades: 5
Money: 4661.65234375
10
Trades: 4
Money: -5543.201171875
11
Trades: 2
Money: -619.25

IndexError: ignored