In [ ]:
!pip install yfinance
import pandas as pd 
import yfinance as yf # import libraries
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('seaborn')

Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/a7/ee/315752b9ef281ba83c62aa7ec2e2074f85223da6e7e74efb4d3e11c0f510/yfinance-0.1.59.tar.gz
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading https://files.pythonhosted.org/packages/cf/4d/6537313bf58fe22b508f08cf3eb86b29b6f9edf68e00454224539421073b/lxml-4.6.3-cp37-cp37m-manylinux1_x86_64.whl (5.5MB)
     |████████████████████████████████| 5.5MB 11.5MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.59-py2.py3-none-any.whl size=23442 sha256=94c7ed27ba59a3e206394cb4bc7b476c4c25c25d61d52720f9d058ce14d43f37
  Stored in directory: /root/.cache/pip/wheels/f8/2a/0f/4b5a86e1d52e451757eb6bc17fd899629f0925c777741b6d04
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.59

In [ ]:
data = yf.download('SBIN.NS', 
                      start='2020-01-15', 
                      end='2021-04-15',
                      progress=False)

In [ ]:
data.tail()

                  Open        High  ...   Adj Close    Volume
Date                                ...
2021-04-07  351.250000  363.200012  ...  358.549988  48023602
2021-04-08  361.000000  363.299988  ...  355.600006  33370259
2021-04-09  354.399994  364.500000  ...  353.000000  46473100
2021-04-12  344.000000  344.000000  ...  328.850006  75501713
2021-04-13  332.000000  342.250000  ...  341.000000  49773360

[5 rows x 6 columns]

In [ ]:
def checker(stock_name,start_date,end_date,Amount):
  data = yf.download(stock_name, 
                    start=start_date, 
                    end=end_date,
                    progress=False)
  # pct change
  data['Pre Pct Change']=(data['Close'].pct_change() * 100).shift(1)
  # # pre close
  # data['Pre Close']=data['Close'].shift(1)
  # pre high
  data['Pre High']=data['High'].shift(1)
  # color
  data['Color']=['Red' if x[0]>x[1] else 'Green' for x in zip(data['Open'],data['Close'])]
  # gapup
  data['Gap']=['Gap up' if data['Open'][i] > data['High'][i-1] else 'Down' for i in range(0,len(data))]
  # trigger
  try:
    data['Trigered Buy'] = ['Yes' if data['High'][i-1] > data['Low'][i] else 'No' for i in range(0,len(data))]
  except:
    pass
  # dlt column
  data=data.drop(['Adj Close','Volume'],axis=1)
  # success
  data['Success']= ['Yes' if data['High'][i-1] > data['Close'][i] else 'No' for i in range(0,len(data))]
  # drop na and reset index
  data=data.dropna()
  data=data.reset_index()
  # slice 
  data=data[data['Pre Pct Change'] > 5]
  data=data[data['Gap'] == 'Gap up']
  data=data[data['Trigered Buy'] == 'Yes']
  # profit
  data['P/L']= data['Pre High'] - data['Close']
  # add stoploss conditions
  data=data.reset_index().drop('index',axis=1)
  data['P/L']=[data['P/L'][i] if data['Success'][i]=='Yes' else data['Pre High'][i] - data['Open'][i] for i in range(0,len(data))]
  # amount calculation
  data['INR'] = (round(Amount/data['Pre High'])) * data['P/L']
  # return
  data['Date']=data['Date'].astype('str')
  return sum(data['INR']), len(data),list(data['Date'])

In [ ]:
from tqdm import tqdm
from google.colab import drive
drive.mount("/content/gdrive")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
%cd '/content/gdrive/MyDrive/SASH/'
nse=pd.read_csv('ALL_FNO.csv')

/content/gdrive/MyDrive/SASH

In [ ]:
nse.head(2)

                    Stock Name  Lot Size         Symbol
0  apollo hospitals enterpirse       500  APOLLOHOSP.NS
1                  acc limited       500         ACC.NS

In [ ]:
checker('ADANIPORTS.NS','2021-04-13','2021-04-16',100000)

(0, 0, [])

In [ ]:
bull_sash_stocks={}
for i in tqdm(nse['Symbol']):
    bull_sash_stocks[i]=checker(i,'2021-02-01','2021-03-01',100000)
final_bull_sash=pd.DataFrame.from_dict(bull_sash_stocks,orient='index',columns=['P/L','Counts','Dates'],)
final_bull_sash.reset_index(inplace=True)
final_bull_sash=final_bull_sash.rename(columns={'index':'Ticker'})
# final_bull_sash.to_csv('bull_gapup_F16_nostoploss.csv')
final_bull_sash=final_bull_sash[final_bull_sash['Counts'] != 0]
print('\n')
print('Total INR:',sum(final_bull_sash['P/L']))
final_bull_sash=final_bull_sash.reset_index().drop('index',axis=1)
final_bull_sash

  0%|          | 0/137 [00:00<?, ?it/s]
  1%|          | 1/137 [00:00<00:21,  6.22it/s]
  1%|▏         | 2/137 [00:00<00:21,  6.39it/s]
  2%|▏         | 3/137 [00:00<00:21,  6.36it/s]
  3%|▎         | 4/137 [00:00<00:20,  6.48it/s]
  4%|▎         | 5/137 [00:00<00:19,  6.74it/s]
  4%|▍         | 6/137 [00:00<00:19,  6.75it/s]
  5%|▌         | 7/137 [00:01<00:19,  6.64it/s]
  6%|▌         | 8/137 [00:01<00:19,  6.74it/s]
  7%|▋         | 9/137 [00:01<00:18,  6.90it/s]
  7%|▋         | 10/137 [00:01<00:18,  6.92it/s]
  8%|▊         | 11/137 [00:01<00:17,  7.10it/s]
  9%|▉         | 12/137 [00:01<00:18,  6.80it/s]
  9%|▉         | 13/137 [00:01<00:18,  6.71it/s]
 10%|█         | 14/137 [00:02<00:18,  6.76it/s]
 11%|█         | 15/137 [00:02<00:18,  6.64it/s]
 12%|█▏        | 16/137 [00:02<00:17,  6.75it/s]
 12%|█▏        | 17/137 [00:02<00:17,  6.80it/s]
 13%|█▎        | 18/137 [00:02<00:17,  6.84it/s]
 14%|█▍        | 19/137 [00:02<00:17,  6.78it/s]
 15%|█▍        | 20/137 [00:02<00:16,  6.91it/s]
 15%|█▌        | 21/137 [00:03<00:18,  6.30it/s]
 16%|█▌        | 22/137 [00:03<00:18,  6.12it/s]
 17%|█▋        | 23/137 [00:03<00:19,  5.99it/s]
 18%|█▊        | 24/137 [00:03<00:18,  6.20it/s]
 18%|█▊        | 25/137 [00:03<00:18,  6.22it/s]
 19%|█▉        | 26/137 [00:03<00:18,  6.08it/s]
 20%|█▉        | 27/137 [00:04<00:17,  6.23it/s]
 20%|██        | 28/137 [00:04<00:18,  6.04it/s]
 21%|██        | 29/137 [00:04<00:17,  6.12it/s]
 22%|██▏       | 30/137 [00:04<00:17,  6.19it/s]
 23%|██▎       | 31/137 [00:04<00:18,  5.81it/s]
 23%|██▎       | 32/137 [00:04<00:17,  6.04it/s]
 24%|██▍       | 33/137 [00:05<00:16,  6.28it/s]
 25%|██▍       | 34/137 [00:05<00:16,  6.33it/s]
 26%|██▌       | 35/137 [00:05<00:16,  6.36it/s]
 26%|██▋       | 36/137 [00:05<00:15,  6.38it/s]
 27%|██▋       | 37/137 [00:05<00:15,  6.25it/s]
 28%|██▊       | 38/137 [00:05<00:15,  6.45it/s]
 28%|██▊       | 39/137 [00:06<00:14,  6.54it/s]
 29%|██▉       | 40/137 [00:06<00:14,  6.92it/s]
 30%|██▉       | 41/137 [00:06<00:13,  6.87it/s]
 31%|███       | 42/137 [00:06<00:13,  6.90it/s]
 31%|███▏      | 43/137 [00:06<00:14,  6.38it/s]
 32%|███▏      | 44/137 [00:06<00:14,  6.24it/s]
 33%|███▎      | 45/137 [00:06<00:14,  6.27it/s]
 34%|███▎      | 46/137 [00:07<00:14,  6.37it/s]
 34%|███▍      | 47/137 [00:07<00:14,  6.30it/s]
 35%|███▌      | 48/137 [00:07<00:14,  6.10it/s]
 36%|███▌      | 49/137 [00:07<00:14,  6.15it/s]
 36%|███▋      | 50/137 [00:07<00:14,  6.07it/s]
 37%|███▋      | 51/137 [00:07<00:14,  5.94it/s]
 38%|███▊      | 52/137 [00:08<00:13,  6.10it/s]
 39%|███▊      | 53/137 [00:08<00:14,  5.61it/s]
 39%|███▉      | 54/137 [00:08<00:14,  5.75it/s]
 40%|████      | 55/137 [00:08<00:13,  5.95it/s]
 41%|████      | 56/137 [00:08<00:14,  5.75it/s]
 42%|████▏     | 57/137 [00:09<00:14,  5.42it/s]
 42%|████▏     | 58/137 [00:09<00:15,  5.10it/s]
 43%|████▎     | 59/137 [00:09<00:14,  5.37it/s]
 44%|████▍     | 60/137 [00:09<00:13,  5.58it/s]
 45%|████▍     | 61/137 [00:09<00:13,  5.84it/s]
 45%|████▌     | 62/137 [00:09<00:12,  5.98it/s]
 46%|████▌     | 63/137 [00:10<00:12,  5.92it/s]
 47%|████▋     | 64/137 [00:10<00:11,  6.10it/s]
 47%|████▋     | 65/137 [00:10<00:11,  6.23it/s]
 48%|████▊     | 66/137 [00:10<00:11,  6.31it/s]
 49%|████▉     | 67/137 [00:10<00:11,  6.34it/s]
 50%|████▉     | 68/137 [00:10<00:10,  6.28it/s]
 50%|█████     | 69/137 [00:10<00:10,  6.45it/s]
 51%|█████     | 70/137 [00:11<00:11,  5.97it/s]
 52%|█████▏    | 71/137 [00:11<00:10,  6.14it/s]
 53%|█████▎    | 72/137 [00:11<00:10,  6.27it/s]
 53%|█████▎    | 73/137 [00:11<00:10,  6.31it/s]
 54%|█████▍    | 74/137 [00:11<00:10,  6.17it/s]
 55%|█████▍    | 75/137 [00:11<00:09,  6.20it/s]
 55%|█████▌    | 76/137 [00:12<00:09,  6.46it/s]
 56%|█████▌    | 77/137 [00:12<00:09,  6.58it/s]
 57%|█████▋    | 78/137 [00:12<00:08,  6.65it/s]
 58%|█████▊    | 79/137 [00:12<00:09,  6.11it/s]
 58%|█████▊    | 80/137 [00:12<00:09,  5.97it/s]
 59%|█████▉    | 81/137 [00:12<00:09,  5.74it/s]
 60%|█████▉    | 82/137 [00:13<00:09,  5.97it/s]
 61%|██████    | 83/137 [00:13<00:08,  6.12it/s]
 61%|██████▏   | 84/137 [00:13<00:08,  6.21it/s]
 62%|██████▏   | 85/137 [00:13<00:08,  6.10it/s]
 63%|██████▎   | 86/137 [00:13<00:07,  6.38it/s]
 64%|██████▎   | 87/137 [00:13<00:07,  6.56it/s]
 64%|██████▍   | 88/137 [00:14<00:07,  6.57it/s]
 65%|██████▍   | 89/137 [00:14<00:07,  6.39it/s]
 66%|██████▌   | 90/137 [00:14<00:07,  6.38it/s]
 66%|██████▋   | 91/137 [00:14<00:07,  6.00it/s]
 67%|██████▋   | 92/137 [00:14<00:07,  6.31it/s]
 68%|██████▊   | 93/137 [00:14<00:07,  6.16it/s]
 69%|██████▊   | 94/137 [00:15<00:07,  6.05it/s]
 69%|██████▉   | 95/137 [00:15<00:06,  6.32it/s]
 70%|███████   | 96/137 [00:15<00:06,  6.31it/s]
 71%|███████   | 97/137 [00:15<00:06,  6.41it/s]
 72%|███████▏  | 98/137 [00:15<00:06,  6.18it/s]
 72%|███████▏  | 99/137 [00:15<00:06,  6.21it/s]
 73%|███████▎  | 100/137 [00:15<00:05,  6.35it/s]
 74%|███████▎  | 101/137 [00:16<00:05,  6.31it/s]
 74%|███████▍  | 102/137 [00:16<00:05,  6.45it/s]
 75%|███████▌  | 103/137 [00:16<00:05,  6.64it/s]
 76%|███████▌  | 104/137 [00:16<00:04,  6.77it/s]
 77%|███████▋  | 105/137 [00:16<00:04,  6.82it/s]
 77%|███████▋  | 106/137 [00:16<00:04,  6.39it/s]
 78%|███████▊  | 107/137 [00:17<00:04,  6.28it/s]
 79%|███████▉  | 108/137 [00:17<00:04,  6.46it/s]
 80%|███████▉  | 109/137 [00:17<00:04,  6.60it/s]
 80%|████████  | 110/137 [00:17<00:04,  6.56it/s]
 81%|████████  | 111/137 [00:17<00:04,  6.34it/s]
 82%|████████▏ | 112/137 [00:17<00:04,  5.94it/s]
 82%|████████▏ | 113/137 [00:17<00:03,  6.32it/s]
 83%|████████▎ | 114/137 [00:18<00:03,  6.43it/s]
 84%|████████▍ | 115/137 [00:18<00:03,  6.40it/s]
 85%|████████▍ | 116/137 [00:18<00:03,  6.53it/s]
 85%|████████▌ | 117/137 [00:18<00:03,  6.59it/s]
 86%|████████▌ | 118/137 [00:18<00:02,  6.73it/s]
 87%|████████▋ | 119/137 [00:18<00:03,  5.75it/s]
 88%|████████▊ | 120/137 [00:19<00:02,  5.99it/s]
 88%|████████▊ | 121/137 [00:19<00:02,  6.38it/s]
 89%|████████▉ | 122/137 [00:19<00:02,  6.30it/s]
 90%|████████▉ | 123/137 [00:19<00:02,  6.03it/s]
 91%|█████████ | 124/137 [00:19<00:02,  6.11it/s]
 91%|█████████ | 125/137 [00:19<00:01,  6.04it/s]
 92%|█████████▏| 126/137 [00:20<00:01,  6.18it/s]
 93%|█████████▎| 127/137 [00:20<00:01,  6.22it/s]
 93%|█████████▎| 128/137 [00:20<00:01,  6.32it/s]
 94%|█████████▍| 129/137 [00:20<00:01,  6.27it/s]
 95%|█████████▍| 130/137 [00:20<00:01,  6.41it/s]
 96%|█████████▌| 131/137 [00:20<00:00,  6.38it/s]
 96%|█████████▋| 132/137 [00:21<00:00,  5.86it/s]
 97%|█████████▋| 133/137 [00:21<00:00,  6.23it/s]
 98%|█████████▊| 134/137 [00:21<00:00,  6.28it/s]
 99%|█████████▊| 135/137 [00:21<00:00,  6.34it/s]
 99%|█████████▉| 136/137 [00:21<00:00,  6.38it/s]
100%|██████████| 137/137 [00:21<00:00,  6.28it/s]

Total INR: 15037.991889953613

           Ticker          P/L  Counts                     Dates
0     ADANIENT.NS   -23.089722       2  [2021-02-03, 2021-02-15]
1   APOLLOTYRE.NS   546.250000       1              [2021-02-03]
2   BANKBARODA.NS   721.798164       1              [2021-02-05]
3     EXIDEIND.NS  2443.301407       1              [2021-02-09]
4   GODREJPROP.NS   979.794800       1              [2021-02-03]
5    LICHSGFIN.NS  2100.801270       1              [2021-02-16]
6       NAUKRI.NS  1985.000000       1              [2021-02-03]
7          PEL.NS   912.601318       1              [2021-02-16]
8     RAMCOCEM.NS   888.098694       1              [2021-02-09]
9   TATAMOTORS.NS -3146.401855       1              [2021-02-03]
10    TVSMOTOR.NS  -375.996094       1              [2021-02-03]
11        BHEL.NS  -352.953590       1              [2021-02-05]
12    ASHOKLEY.NS  -821.704559       1              [2021-02-03]
13       CANBK.NS  1771.896271       1              [2021-02-05]
14    HDFCBANK.NS   233.096924       1              [2021-02-03]
15         ITC.NS  -324.000000       1              [2021-02-05]
16         PNB.NS  2073.146278       1              [2021-02-05]
17   TATAPOWER.NS  3370.253372       1              [2021-02-05]
18  BHARATFORG.NS  2517.905640       1              [2021-02-03]
19        SAIL.NS  -280.806427       1              [2021-02-24]
20       SUNTV.NS  -181.000000       1              [2021-02-05]

In [ ]:
# once stoploss hit # no trading
# but stop loss was modified and got profit 1st time then take trade again # example mandm fin 30-3-21
# tata chem stop loss # loss 750
# tata motors waste
# dont modify smaller stop loss
# always buy after high break and same candle break by next candle, i.e next candle break

In [ ]:
data = yf.download('ACC.NS', 
                      start='2020-01-01', 
                      end='2021-04-14',
                      progress=False)
# pct change
data['Pre Pct Change']=(data['Close'].pct_change() * 100).shift(1)
# # pre close
# data['Pre Close']=data['Close'].shift(1)
# pre high
data['Pre High']=data['High'].shift(1)
# color
data['Color']=['Red' if x[0]>x[1] else 'Green' for x in zip(data['Open'],data['Close'])]
# gapup
data['Gap']=['Gap up' if data['Open'][i] > data['High'][i-1] else 'Down' for i in range(0,len(data))]
# trigger
try:
  data['Trigered Buy'] = ['Yes' if data['High'][i-1] > data['Low'][i] else 'No' for i in range(0,len(data))]
except:
  pass
# dlt column
data=data.drop(['Adj Close','Volume'],axis=1)
# success
data['Success']= ['Yes' if data['High'][i-1] > data['Close'][i] else 'No' for i in range(0,len(data))]
# drop na and reset index
data=data.dropna()
data=data.reset_index()
# slice 
data=data[data['Pre Pct Change'] > 5]
data=data[data['Gap'] == 'Gap up']
data=data[data['Trigered Buy'] == 'Yes']
# profit
data['P/L']= data['Pre High'] - data['Close']
data=data.reset_index().drop('index',axis=1)
data['P/L']=[data['P/L'][i] if data['Success'][i]=='Yes' else data['Pre High'][i] - data['Open'][i] for i in range(0,len(data))]

data['INR'] = (round(100000/data['Pre High'])) * data['P/L']
# return

data

        Date    Open    High  ...  Success        P/L          INR
0 2020-03-27  1000.0  1010.0  ...      Yes  20.849976  2126.697510
1 2021-02-02  1700.0  1784.0  ...       No  -3.050049  -179.952881

[2 rows x 13 columns]

['2020-03-27', '2021-02-02']