In [ ]:
!pip install yfinance
import pandas as pd 
import yfinance as yf # import libraries
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('seaborn')
import warnings
warnings.filterwarnings('ignore')

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.59)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.6.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)

In [ ]:
data = yf.download('INR=X', 
                      start='2021-04-01', 
                      end='2021-04-23',
                      progress=False,interval='1wk')
data=data[['Volume']]

In [ ]:
def currency(stock_name,start_date,end_date,interval):
  data = yf.download(stock_name, 
                      start=start_date, 
                      end=end_date,
                      progress=False,interval='1wk')
  data=data[['Close']]
  # data=data.rename(columns={'Close':stock_name})
  return data

In [ ]:
curlist=['INR=X','EURINR=X','GBPINR=X','JPYINR=X']

In [ ]:
for i in curlist:
  newdf=currency(i,'2021-04-01','2021-04-23','1wk')
  data[i]=newdf['Close']

In [ ]:
data=data.reset_index()

In [ ]:
data=data[:-1]

In [ ]:
data['ROC_0_INR=X']=data['INR=X'].pct_change() * 100
data['ROC_1_EURINR=X']=data['EURINR=X'].pct_change() * 100
data['ROC_2_GBPINR=X']=data['GBPINR=X'].pct_change() * 100
data['ROC_3_JPYINR=X']=data['JPYINR=X'].pct_change() * 100

In [ ]:
data=data.dropna()

In [ ]:
data=data.reset_index().drop('index',axis=1)

In [ ]:
data

        Date  Volume      INR=X  ...  ROC_1_EURINR=X  ROC_2_GBPINR=X  ROC_3_JPYINR=X
0 2021-04-05       0  74.729202  ...        2.962345        0.951657        2.749373
1 2021-04-12       0  74.532997  ...        0.469388        0.649865        0.581209
2 2021-04-19       0  75.091698  ...        1.027382        0.780534        1.521890

[3 rows x 10 columns]

In [ ]:
maxls=[]
minls=[]
for i in range(0,len(data)):
  ls=[data['ROC_0_INR=X'][i],data['ROC_1_EURINR=X'][i],data['ROC_2_GBPINR=X'][i],data['ROC_3_JPYINR=X'][i]]
  max_value = max(ls)
  min_value = min(ls)
  max_index = ls.index(max_value)
  maxls.append(max_index)
  min_index = ls.index(min_value)
  minls.append(min_index)

data['Rank1']=maxls
data['Rank4']=minls

In [ ]:
data

        Date  Volume      INR=X  ...  ROC_3_JPYINR=X  Rank1  Rank4
0 2021-04-05       0  74.729202  ...        2.749373      1      2
1 2021-04-12       0  74.532997  ...        0.581209      2      0
2 2021-04-19       0  75.091698  ...        1.521890      3      0

[3 rows x 12 columns]